<!doctype html>
<html lang="it">
    {% include 'head.twig' %}

    <body>
        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>

        <main>
        <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        <strong><span>Sound</span>Wave</strong>
                    </a>

                    <div class="d-lg-none">
                        <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

                        <a href="product-detail.html" class="bi-bag custom-icon"></a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link {% if nav == "home" %} {{ "active" }} {% endif %}" href="/">Home</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link {% if nav == "app"%} {{ "active" }} {% endif %}" href="/app">App</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link {% if nav == "charts"%} {{ "active" }} {% endif %}" href="/charts">Classifiche</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link {% if nav == "faq"%} {{ "active" }} {% endif %}" href="/faq">FAQs</a>
                            </li>
                        </ul>

                        <div class="d-none d-lg-block">
                            <a href="/login" class="bi-person custom-icon me-3"></a>
                        </div>
                    </div>
                </div>
            </nav>
            
            {% block content %}
            {% endblock %}
        </main>

        {% include 'footer.twig' %}
    </body>
</html>