{% extends "base.twig" %}
{% block content %}

            <section class="slick-slideshow">   
                <div class="slick-custom" style="background-color:black; background-image: url('images/main_bg.png')">
                    <img src="images/main_bg.png" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Ottieni di più dalla tua musica con Premium Individual.</h1>
                                    <p class="lead text-white mt-lg-3 mb-lg-5">Ascolta musica senza interruzioni con Spotify Premium.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="front-product">
                <div class="container-fluid p-0">
                    <div class="row align-items-center">

                        <div class="col-lg-6 col-12">
                            <img src="images/app_image.png" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="px-5 py-5 py-lg-0">
                                
                                <h2 class="mb-4"><span>Scarica </span> Soundwave</h2>
                                <p class="lead mb-4">Scegli un piano Premium e ascolta musica senza pubblicità, senza limiti tramite telefono, altoparlante e altri dispositivi. Paga in vari modi. Annulla quando vuoi.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="featured-product section-padding">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-12 text-center">
                            <h2 class="mb-5">I nostri piani</h2>
                        </div>

                        <div class="col-lg-4 col-12 mb-3">
                            <div class="product-thumb">

                                <div class="product-top d-flex">
                                    <span class="product-alert me-auto">Premium</span>
                                </div>

                                <div  style="margin-top: 10px" class="product-info d-flex">
                                    <div>
                                        <h5 class="product-title mb-0">
                                            <a href="#" class="product-title-link">Individual</a>
                                        </h5>

                                        <p class="product-p">1 Account, annulla quando vuoi</p>
                                    </div>

                                    <small class="product-price text-muted ms-auto mt-auto mb-5">€ 10,99/mese</small>
                                </div>
                            </div>
                        </div>

                       <div class="col-lg-4 col-12 mb-3">
                            <div class="product-thumb">

                                <div class="product-top d-flex">
                                    <span class="product-alert me-auto">Premium</span>
                                </div>

                                <div style="margin-top: 10px" class="product-info d-flex">
                                    <div>
                                        <h5 class="product-title mb-0">
                                            <a href="#" class="product-title-link">Family</a>
                                        </h5>

                                        <p class="product-p">6 Account, annulla quando vuoi</p>
                                    </div>

                                    <small class="product-price text-muted ms-auto mt-auto mb-5">€ 17,99/mese</small>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 col-12 mb-3">
                            <div class="product-thumb">

                                <div class="product-top d-flex">
                                    <span class="product-alert me-auto">Premium</span>
                                </div>

                                <div style="margin-top: 10px" class="product-info d-flex">
                                    <div>
                                        <h5 class="product-title mb-0">
                                            <a href="#" class="product-title-link">Studente</a>
                                        </h5>

                                        <p class="product-p">1 Account, sconto studenti, annulla quando vuoi</p>
                                    </div>

                                    <small class="product-price text-muted ms-auto mt-auto mb-5">€ 5,99/mese</small>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </section>

{% endblock %}
